#boxes {
  width: 100%;
  background-color: pink;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: center;

}
#container {
  width: 25%;
  height: 230px;
  background-color: black;
  margin: 15px;
}